#index {
  & #hero {
    & .temp {
      display: grid;
      height: 600px;

      &:nth-child(odd) {
        grid-template-columns: 42.4% 57.6%;
      }

      &:nth-child(even) {
        grid-template-columns: 57.6% 42.4%;
      }

      &:nth-child(1) {
        height: 650px;

        & .text {
          background-color: $pure-black;
          color: $pure-white;

          & div {
            & .gradient {
              position: absolute;
              left: 0;
              height: 100%;
              width: 6px;
              background: linear-gradient(to bottom, #5a77ff, #bc7198 20%, #ffc593);
              padding: 0;
            }
          }
        }
      }

      & .text {
        background-color: $pure-white;
        color: $pure-black;
        display: flex;
        align-items: center;

        & div {
          max-width: 387px;
          padding-left: 100px;

          & h1 {
            text-transform: uppercase;
            margin: 0;
          }

          & p {
            opacity: 0.7;
            line-height: 25px;
            font-size: 15px;
          }

          & .btn {
            padding: 12px 0;
            display: flex;
            align-items: center;

            svg {
              margin-left: 20px;
            }
          }
        }
      }

      & .image {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;

        &#create-and-share {
          background-image: url("../../public/assets/home/desktop/create-and-share.jpg");
        }
        &#beautiful-stories {
          background-image: url("../../public/assets/home/desktop/beautiful-stories.jpg");
        }
        &#designed-for-everyone {
          background-image: url("../../public/assets/home/desktop/designed-for-everyone.jpg");
        }
      }
    }
  }

  & .stories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & .story {
      height: 500px;
      position: relative;
      padding: 30px;
      width: 100%;
      color: $pure-white;
      display: flex;
      transition: transform 0.3s ease-in-out;

      & .text {
        width: 100%;
        align-self: flex-end;

        & .title {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        & .photographer {
          font-size: 13px;
          padding-bottom: 16px;
          border-bottom: 1px solid rgba($pure-white, 0.3);
          margin-bottom: 20px;
        }

        & .read {
          display: flex;
          align-items: center;
          width: 100%;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;

          & svg {
            margin-left: auto;
          }
        }
      }

      &:hover {
        transform: translateY(-25px);
        cursor: pointer;

        & .border {
          animation: border 0.2s ease-in-out 0.3s 1 forwards;
        }
      }

      & .border {
        position: absolute;
        bottom: -6px;
        left: 0;
        background: linear-gradient(to right, #ffc593, #bc7198 20%, #5a77ff);
        height: 6px;
        width: 0;
      }
    }
  }

  & .features {
    & .container {
      display: flex;
      justify-content: space-between;
      margin: 100px auto;

      & .feature {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: 350px;

        & .image {
          width: 72px;
          margin-bottom: 20px;
          height: 80px;
          display: flex;
          align-items: center;

          & img {
            width: 100%;
          }
        }

        & h3 {
          margin: 0;
        }

        & p {
          line-height: 25px;
          opacity: 0.7;
          font-size: 15px;
        }
      }
    }
  }
}

@keyframes border {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  #index {
    & #hero {
      & .temp {
        &:nth-child(odd) {
          grid-template-columns: 64.5% 35.5%;
        }

        &:nth-child(even) {
          grid-template-columns: 35.5% 64.5%;
        }

        & .text {
          padding-right: 40px;

          & div {
            max-width: 495px;
          }
        }

        & .image {
          &#create-and-share {
            background-image: url("../../public/assets/home/tablet/create-and-share.jpg");
          }
          &#beautiful-stories {
            background-image: url("../../public/assets/home/tablet/beautiful-stories.jpg");
          }
          &#designed-for-everyone {
            background-image: url("../../public/assets/home/tablet/designed-for-everyone.jpg");
          }
        }
      }
    }

    & .stories {
      grid-template-columns: repeat(2, 1fr);

      & .story {
        height: 500px;
      }
    }

    & .features {
      & .container {
        flex-direction: column;

        align-items: center;

        & .feature {
          max-width: 457px;

          &:not(:last-child) {
            margin-bottom: 70px;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #index {
    & #hero {
      & .temp {
        height: auto;
        display: flex;
        flex-direction: column;

        &:nth-child(odd) {
          flex-direction: column-reverse;
        }

        &:nth-child(1) {
          height: auto;

          & .text {
            padding: 0;

            & div {
              padding: 30px;
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;

              & .btn {
                flex-direction: row;
                padding: 0;
                height: 20px;
                width: 174px;
              }

              & .gradient {
                position: absolute;
                top: 0;
                left: 30px;
                height: 6px;
                width: 128px;
                padding: 0;
                background-color: red;
              }
            }
          }

          & .image {
            height: 294px;
          }
        }

        & .text {
          height: 419px;
          padding: 0;

          & div {
            max-width: auto;
            padding: 30px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & .btn {
              flex-direction: row;
              padding: 0;
              height: 20px;
              width: 205px;
            }

            & h1 {
              font-size: 32px;
            }
          }
        }

        & .image {
          height: 271px;

          &#create-and-share {
            background-image: url("../../public/assets/home/mobile/create-and-share.jpg");
          }
          &#beautiful-stories {
            background-image: url("../../public/assets/home/mobile/beautiful-stories.jpg");
          }
          &#designed-for-everyone {
            background-image: url("../../public/assets/home/mobile/designed-for-everyone.jpg");
          }
        }
      }
    }

    & .stories {
      grid-template-columns: 1fr;

      & .story {
        height: 375px;
      }
    }

    & .features {
      & .container {
        & .feature {
          &:not(:last-child) {
            margin-bottom: 70px;
          }
        }
      }
    }
  }
}
